body {
  text-align: center;
  background-color: #A8D0E6;
  position: relative;
}
body::after {
  content: "";
  background-image: url("./images/trombone1.jpg");
  background-size: 100% 115%;
  opacity: 0.30;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.content {
  min-height: 400px;
  position: relative;
  height: 100%;
}
h3 {
  display: inline;
}
h1 {
  margin-top: 0px;
  padding-top: 2%;
}
p {
  font-size: 20px;
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
ol li {
  text-align: left;
  margin: 10px 0px;
}
li {
  font-size: 17px;
}
span {
  display: contents;
}
