html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Rosarivo', serif;
}
h1 {
  margin: 0px;
  padding-top: 20px;
}
h2 {
  margin-top: 0px;
}
h3 {
  display: inline;
}
a {
  color: rgb(0, 57, 77);
}
p {
  font-size: 20px;
  text-align: justify;
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
ol li {
  text-align: left;
  margin: 10px 0px;
}
li {
  font-size: 17px;
}
span {
  display: contents;
}
button:focus {
  outline: 0 !important;
  background: none;
}
