body {
  text-align: center;
  background-color: #A8D0E6;
}
.content {
  min-height: 400px;
  position: relative;
}
h3 {
  display: inline;
}
h1 {
  margin-top: 0px;
  padding-top: 2%;
}
#login {
  margin-left: 10px;
}
#delete {
  margin-left: 20px;
  background-color: red;
}
#create {
  font-size: 20px;
  background-color: #659DBD;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 47%;
  margin-top: 20px;
}
#password {
  margin-left: 38%;
}
ol li {
  text-align: left;
  margin: 10px 0px;
}
.bibliography li {
  text-align: left;
  margin: 20px 0px;
}
