#navbar .link {
    margin: 5px 10px;
    padding: 3px;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: transform 0.2s ease-in-out;
}
#navbar a.link.active {
    color: rgb(44, 71, 71);
}
#navbar a.link:hover {
    color: rgb(44, 71, 71);
}
@media screen and (max-width: 650px) {
    nav {
        height: 100%;
    }
}