.container {
    min-height: 400px;
}
.link {
    margin: 5px 10px;
    padding: 3px;
    color: rgb(84,135,135);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: transform 0.2s ease-in-out;
}
.link:hover {
    transform: scale(1.2);
    color: rgb(44, 71, 71);
}
#login {
    margin-left: 10px;
}
#password {
    margin-left: 38%;
}
.bibliography li {
    text-align: left;
    margin: 20px 0px;
}
.contactLink {
    color: rgb(84,135,135);
}
.contactLink:hover {
    color: rgb(44, 71, 71);
}
#printScreen {
    border: none;
    cursor: pointer;
}
#backLink {
    margin-right: 30px;
}
#detailsLinks {
    width: 100%;
    clear: both;
}
#minLinks {
    width: 100%;
    text-align: center;
}
#newFootnote {
    margin-bottom: 15px;
}
#adminInstruments {
    margin-top: 50px;
}