.link {
    margin: 5px 10px;
    padding: 3px;
    color: #123c69;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: transform 0.2s ease-in-out;
}
.link:hover {
    transform: scale(1.2);
    color: #52B3D1;
}
#login {
    margin-left: 10px;
}
#create, #createTrombone, #update, #delete, #login {
    font-size: 20px;
    background-color: #659DBD;
    border-radius: 5px;
    position: relative;
    top: 20px;
    padding: 10px;
    box-shadow: 0px 0px 2px 2px;
    color: #123c69;
    cursor: pointer;
}
#create:hover, #createTrombone:hover, #update:hover, #login:hover {
    background-color: white;
    color: #659DBD;
}
#delete {
    margin-left: 20px;
    background-color: red;
}
#delete:hover {
    background-color: #BD0000;
}
#password {
    margin-left: 38%;
}
.bibliography li {
    text-align: left;
    margin: 20px 0px;
}
.contactLink {
    color: #123c69;
}
.contactLink:hover {
    color: white;
}
#printScreen {
    border: none;
    cursor: pointer;
}
#backLink {
    margin-right: 30px;
}
#minLinks {
    width: 100%;
    text-align: center;
}
#newFootnote {
    margin-bottom: 15px;
}