#pics {
    float: left;
    margin: 0px 20px 25px 20px;
    height: 400px;
    width: 400px;
    padding-right: 7px;
    display: block;
}
.imageEdit {
    color: #fff !important;
    font: 'Rosarivo', serif !important;
}
.details {
    text-align: left;
    display: inline;
    padding: 0px;
}
.detail {
    margin: 20px 0px;
}
ol.detail {
    position: relative;
    clear: both;
}
.detail li {
    font-size: 14px;
}
ol.detail {
    text-align: center;
}
h6 {
    display: inline-block;
}
.detail h6 {
    margin-right: 5px;
}

@media screen and (max-width: 600px) {
    #pics {
        width: 100%;
        display: contents;
        object-fit: contain;
    }
}