#homePageImage {
    width: 100%;
    border-radius: 10px;
    filter: grayscale(60%);
    box-shadow: 0 0 8px 8px white inset;
}
#homePageImageContainer {
    position: relative;
    width: 75%;
    margin: auto;
}
#photoCredit {
    position: absolute;
    bottom: 7px;
    right: 5px;
    margin: 0;
    color: white;
    font-size: 10px;
}
#viewCollectionButton {
    margin: auto;
    font-size: 20px;
    background-color: rgb(84,135,135);
    color: white;
    font-family: inherit;
}
#viewCollectionButton:hover {
    background-color: rgb(77, 167, 167);
}

@media screen and (max-width: 700px) {
    #homePageImageContainer {
        width: 100%;
    }
}