.search {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.input-field {
    width: 100%;
    padding: 10px !important;
}
#searchBar {
    opacity: 0.65;
    margin-bottom: 20px;
    border-radius: 10px;
}
#searchBar h2 {
    margin: 0;
    padding: 10px;
}
select {
    background: none;
    border: none;
    border-radius: 0;
    /* This gets rid of the bottom border radius but also gets rid of arrows on the right side */
    /* -webkit-appearance: none; */
    border-bottom: 1px solid black;
}
label {
    color: black !important;
}
input {
    border-bottom: 1px solid black !important;
}
