header {
    text-align: center;
    height: 100%;
    margin: auto;
    color: #29648A;
    border-bottom: 1px black solid;
    background-image: url("../../images/trombone.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
}