.mainLayout {
    text-align: center;
    background-color: rgb(214, 241, 255);
    position: relative;
    opacity: 0.99;
}
.mainLayout::after {
    content: "";
    background-image: url("../../images/tromboneBackground.jpeg");
    background-size: 100% 115%;
    opacity: 0.40;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.content {
    min-height: 400px;
    position: relative;
    height: 100%;
}

/* #A8D0E6 */