nav {
    text-align: center;
    margin: 10px 0px;
    background: none;
    box-shadow: none;
}
nav .link, .link {
    margin: 5px 10px;
    padding: 3px;
    color: #123c69;
    text-decoration: none;
    /* transition: font-size 1s; */
}
.link:hover {
    color: #52B3D1;
    /* font-size: 20px; */
}
a.link.active {
    color: #659dbd;
}