nav {
    text-align: center;
    margin: 10px 0px;
    background-color: #A8D0E6;
}
nav .link, .link {
    margin: 5px 10px;
    padding: 3px;
    color: #123c69;
    text-decoration: none;
}
.link:hover {
    color: #52B3D1;
}
a.link.active {
    color: #659dbd;
}